.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  background-color: #1A1A1A;
  /* transform-origin: right center;  */
}
 
.sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.text {
  position: absolute;
  left: 5%;
  width: 0%;
  opacity: 0;
  color: #F5F5F5;
  transition-duration: 0.3s;
}
 
.Btn:hover {
  width: 120px;
  border-radius: 40px;
  background-color: #D4AF37;
}
 
.Btn:hover .sign {
  width: 30%;
  padding-right: 20px;
}
   
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  text-align: center;
}
 
.Btn:active {
  transform: translate(2px, 2px);
}